.background-image {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* Adjust if needed */
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* transition: opacity 0.3s ease-in-out; */
    z-index: -1; /* Ensures the background is behind your content */
}

#background2 {
    opacity: 0; /* Second image is initially hidden */
}
