.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* transition: opacity 0.3s ease-in-out; */
    z-index: -1; /* Ensures the background is behind your content */
}

#background2 {
    opacity: 0; /* Second image is initially hidden */
}
