.mainButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: calc(0.2vw + 0.3vh) calc(0.2vw + 0.3vh) calc(0.2vw + 0.3vh) calc(0.2vw + 0.3vh);
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
     padding: var(--unit1) var(--unit2) var(--unit1) var(--unit2); 
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
    height:7.5vh !important;
    max-height: 7.5vh;
    max-width: 35vw;
   }
   
   .mainButton:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
   }
   
   .mainButton:active {
    box-shadow: none;
   }
   .mainButton svg{
    max-height: 6.5vh;
    margin: 0px;
    padding: 0px;
   }

   .mainButton p{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.7vh + 0.5vw);
    font-weight: 500;
    color: #7e97b8;

   }