/* #main1 {
    background-attachment: scroll;
    background-position: top center;
} */


#main1::before {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* 
#main1 {
    background: none;
}

#main1::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/assets/home.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1;
} */




#logo{
    width: 20vh;
    height:20vh;
    border-radius: 50%;
    object-fit: cover;
}

.mainTitle{
    font-size: 5vh;
}


/* slideshow */

.arrow:hover{
    height: 8vh;
    width: 8vh;
}




 /* main sections */
.mainSection{
    display: flex;
    flex-direction: column-reverse;
    max-width: 80vw;
    height: 70vh !important;
    max-height: 80vh !important;
    justify-content: space-around;
}

#ourTeam{
    flex-direction: column;
}

.sectionText {
    display:grid;
    grid-template-columns: 1fr 1fr; /* Two columns for mobile */
    grid-template-rows: auto auto; /* Two rows for mobile */
}

.textHeader {
    grid-column: 1; /* Occupies the first column */
    grid-row: 1; /* Occupies the first row */
}
.mainButton {
    grid-column: 1; /* Occupies the first column */
    grid-row: 2; /* Occupies the second row */
}
.textText {
    grid-column: 2; /* Occupies the second column */
    grid-row: 1 / span 2; 
}

.sectionImage Img{
    max-width: 65vw;
    height: 30vh;
}
.sectionImage{
    padding: 1vh;
}



/* clock */

.clock{
    width: 80vw;
}

.clockHeader{
    width: 55vw;
}

.clockObject{
    height: 10vh;
}

.Row1Object{
    width:23vw;
}
.Row2Object{
    width:18vw;
}


.clockRow{
    width: 60vw;
    justify-content: space-around;
}



/* second sections */

.main2Image{
    height: 34vw;
    width: 34vw;
}

.main2Header{
    max-width: 45vw;
    text-align: left;
}

.threeWays{
    width:93vw;
    margin-bottom: 20vh;
    flex-direction: column;
    gap: 5vh;
}

.way{
    width:90vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: normal;
    justify-content:baseline;
}

.way img{
    max-width: 45vw;
    grid-column: 1;
    grid-row: 2;
}

.wayHeader{
    grid-column: 1;
    grid-row: 1;
    max-width: 45vw;
}

.wayText{
    max-width: 45vw;
    grid-column:2;
    grid-row: 1 / 3;
}

.team{
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


.member{
    height:35vh;
    width: 90vw;
}




/* partners */


.partners{
 grid-template-columns: auto auto;
 grid-template-rows: repeat(3, auto);
 height: auto;
}


#magee, #ecb, #an{
    grid-column: 1;
}

#edn, #safeway, #saveOns{
    grid-column: 2;
}


#magee, #edn{
    grid-row: 1
}

#ecb, #safeway{
    grid-row: 2
}
