.team{
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(5,1fr) !important;
    width: 100vw;
    place-items: center;
    gap: 5vw;
}

.member{
    width: 40vw;
    grid-column: span 2;
}

.member2{
    grid-column: span 2 !important;
}

.spacer{
    display: none;
}
.spacer2{
    display: block;
}

.picture{
    width: 32vw;
}

.info{
    width: 32vw;
}


.member.clicked{
    width: 55vw;
}


.bio{
    width: 32vw;
}

.member.clicked .bio{
    width: 38vw;
}


/* .row2a{
    grid-column: span 4 !important;
}

.row2b{
    grid-column: 3 / 7 !important;
} */