.teamgrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}

.person{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    
}
#fadeDivTeam{
    display: flex;
    flex-direction: column;
}
#pTeam{
    align-self: center;
}

.person-name{
    font-family: 'Open Sans', sans-serif;
    margin: 1vh;
}

.person-title{
    font-family: 'Open Sans', sans-serif;
    margin: 1vh;
}

.person-image{
    height: 20vh;
    width: auto;
    overflow: hidden;
    display: inline-block;
}

.person-image img{
    width: auto;
    height: 20vh;
}