#positionControl{
    display:grid;
    gap:10px;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    max-width: 150px;
}

svg circle{
    stroke: white;
    stroke-width: 3px;
    fill: transparent;
    transition: all 0.3s cubic-bezier(0.65, 0, 0.076, 1);;
}
#cc1{
    fill:white;
}

svg circle:hover{
    transform: translateY(-4px);
}


#slideItems{
    position: relative;
    left: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20vw;
    width: 240vw;
    overflow: visible;
    transition: left 0.5s ease-out;
}

.slideP{
    max-width:60vw;
    font-size:larger;
text-align: justify;
}