

/* top = 5vh */
.mainImage{ 
    margin-top:-195vh;
    margin-bottom: 5vh;
    width: 30vh;
    height:30vh;
}
/* bottom = 35vh */


/* top = 40vh */
.mainTitleContainer{
    height:11vh;
}
/* bottom=51vh */

/* top=55vh */
.slideshow{
    margin-top:4vh;
    height: 40vh;
}
/* bottom=95vh */



/* top = 100vh */
#ourProjects{
    margin-top: 5vh;
    height:50vh;
    max-height: 50vh;
    margin-bottom: 15vh;
}
/* bottom = 150vh */

/* top = 165vh */
#ourTeam{
    height:50vh;
    max-height: 50vh;
}
/* bottom = 215vh */


/* top = 240vh */
#ourBlog{
    margin-top:25vh;
    height:50vh;
    max-height: 50vh;
}
.clock{
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#ourMission{
    margin-top:20vh;
}