html {
    scroll-behavior: smooth;
  }

body {
    background-image: url('/assets/home.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
    font-weight: 400;
    height: auto;
}

p{
    color: rgb(var(--text));
    font-family: 'Open Sans','sans-serif';

}

.main {
    width: 100vw;
    text-align: center ;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--text);
    background-size: cover; 
    background-repeat: no-repeat;
    
}

.mainImage{
    background-color: rgba(255,255,255,0.5);
    width: 30vh;
    height:30vh;
    display: grid;
    place-items: center;
    border-radius: 50%;
    margin-top:20vh;
    margin-bottom: 4vh;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.4vh );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#logo{
    width: 30vh;
    height:30vh;
    border-radius: 50%;
    object-fit: cover;
}

.mainTitle{
    font-size: 4vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 4vh;
}

.mainTitleContainer{
    background-color: rgba(var(--accent),0.3);
    /* background: rgba( 255, 255, 255, 0.25 ); */
    box-shadow: 0 1vh 5vh 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.4vh );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: calc(3vh + 2vw);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mainSection{
    display: flex;
    flex-direction: row;
    background-color: rgba(var(--accent),0.3);
    /* background: rgba( 255, 255, 255, 0.25 ); */
    box-shadow: 0 1vh 5vh 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.4vh );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: calc(3vh + 2vw);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 70vw;
    margin:5vh;
}


.sectionText{
    padding:2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textHeader{
    font-size:5vh;
}

.textText{
    font-size: 2vh;
    text-align: justify;
}

.sectionImage{
    padding: 3vh;
}

.sectionImage img{
    max-width: 35vw;
}