input{
    
    height: 4vh;
}

.inputField:focus{
    width:60vw;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.inputField{
      border: 2px solid transparent;
    transition: width 0.2s ease-in-out;
    width: 50vw;
    align-self: center;
    justify-self: center;
    box-shadow: 2px 2px 4px rgba(var(--primary), 0.358);
    padding: 0px 7px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
}

#msg{
    height:8vh;
}


#responseForm{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5,1fr);
    gap:3vh;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    }
    
    .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #1b98fe;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
    }
    
    .btn span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
    }
    
    .btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
    }
    
    .btn:hover:before {
    width: 100%;
    background: rgb(var(--primary));
    }

    .btn:hover span{
        color: black;
    }
    
    .btn:hover svg {
        transform: translateX(0);
        stroke: black;
    }
    
    .btn:active {
    transform: scale(0.95);
    }