.BlogButton{
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    font-size: large;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

.BlogButton .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.BlogButton .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
  
  }
  
.BlogButton .arrow::before {
    content: "";
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    padding: 3px;
    transform: rotate(-45deg);
  }
#s5{
    background-color: rgba(var(--secondary-color), 0.5);
    display: flex;
    vertical-align: center;
    justify-content: center;
}