.header{
    width:100vw;
    height: 11vh;
    background-color: rgb(var(--background2));
    display:flex;
    justify-content: space-between;
    position: fixed;
    top:0;
}

.header img{
    height: 9vh;
    width:9vh;
    margin-top:1vh;
    margin-left:1vh;
    border-radius: 50%;
    object-fit: cover;
}

.header .title{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(1.9*(3vh + 1vw) / 2);

    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
}

#openSidebar{
    margin-left: auto;
    width: 10vw;
    height: 10vw;
    margin-right: 5vw;
}