#s4{
    background-color: rgba(var(--background2),0.75);

}

#s4 h1{
    margin-top: 0;
    padding-top: 5vh;
}

.teamgrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 5vh;
}

.person{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    gap:0.4vh;
    align-items: center;    
}

.person-name{
    font-family: 'Open Sans', sans-serif;
    margin: 0.2vh;
    font-size: medium;
    text-align: center;
}

.person-title{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin: 0.2vh;
    text-align: center;
}

.person-image{
    height: 21vh;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.person-image img{

    width: auto;
    height: 20vh;
    box-shadow: 0 0 20px 5px rgba(var(--primary),0.5);
}