.s2div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--background2),0.6);
}

.s2div h1{
    font-size:xx-large;
}

.project{
    height: 20vh;
    max-height: 20vh;
    width:80vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5vh;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


#bottleDrive{
    background-image: url(../../assets/events/bottledrive.jpg);
}
#signProtesting{
    background-image: url(../../assets/events/bottledrive.jpg);
}
#reforesting{
    background-image: url(../../assets/events/bottledrive.jpg);
}
#parkCleanups{
    background-image: url(../../assets/events/bottledrive.jpg);
}
#invasiveSpeciesPull{
    background-image: url(../../assets/events/bottledrive.jpg);
}
#UBCBotanicalGarden{
    background-image: url(../../assets/events/bottledrive.jpg);
}


.project button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin-bottom: 1vh;
    max-width: 50vw;
  }
  
  
.project button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.project button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
  
  }
  
.project button .arrow::before {
    content: "";
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    padding: 3px;
    transform: rotate(-45deg);
  }
  